<html>
<head>
  <title>Create Quote</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
  <script src="../app/createquote.js"></script>
</head>
  <body ng-app="myApp" ng-controller="createquoteController">

    <div class='container'>
      <h1>Quote Info</h1>
         <!-- <h2>{{quote}} and {{role}} and {{quote.quote_id}}</h2> -->
      <!-- display template -->
      <div ng-if="role!='sales'"> 
          <h4>Quote Detail</h4>
          <hr />
          <dl class="dl-horizontal" ng-repeat="quote in quote">
              <dt>
                    <span>Quote Id</span>
              </dt>
              <dd>
                    {{quote.quote_id}}
              </dd>
              <dt>
                    <span>Quote Name</span>
              </dt>
              <dd>
                    {{quote.quote_name}}
              </dd>
              <dt>
                    <span>date requested</span>
              </dt>
              <dd>
                    {{quote.date_requested}}
              </dd>
              <dt>
                    <span>Product To Buy</span>
              </dt>
              <dd>
                    {{quote.product_to_buy}}
              </dd>
              <dt>
                    <span>Requested Price</span>
              </dt>
              <dd>
                    {{quote.product_requested_price}}
              </dd>
              <dt>
                    <span>Approved Price</span>
              </dt>
              <dd>
                    {{quote.product_approved_price}}
              </dd>
              <dt>
                    <span>Status</span>
              </dt>
              <dd>
                    {{quote.quote_status}}
              </dd>
              <dt>
                    
              </dt>
              <dd>
                   <a class="btn btn-success" href="#"><span class="glyphicon glyphicon-ok" style="color:white; margin-right:5px;" aria-hidden="true"></span>Approve</a>
                   <a class="btn btn-danger"  href="#"><span class="glyphicon glyphicon-remove" style="color:white; margin-right:5px;" aria-hidden="true"></span>Reject</a>
                   <a class="btn btn-primary"  href="#"><span class="glyphicon glyphicon-shopping-cart" style="color:white; margin-right:5px;" aria-hidden="true"></span>Order</a>
                   <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-arrow-left" style="color:white; margin-right:5px;" aria-hidden="true"></span>Back to List</a>
              </dd>
          </dl>
      </div>

    <!-- Edit template -->
    <div ng-show="role=='sales'"> 
            <h4>Quote Detail</h4>
            <hr />
      <form action="{{ actionUrl }}" method='post'>
                  <!-- <h1>"'/quote/{{actiontype}}'"{{quoteid}}</h1> -->
      <div class="form-group">
            <label for="qname">Quote Id</label>
            <input type="text" name="qid" class="form-control" id="qid" value='{{quoteid}}' readonly>
      </div>
        
        <div class="form-group">
            <label for="qname">Name</label>
            <input type="text" name="qname" class="form-control" id="qname" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="qname">Product Name</label>
          <input type="text" name="qproduct" class="form-control" id="qproduct" placeholder="Product">
        </div>

        <div class="form-group">
          <label for="qprice">Quote Price</label>
          <input type="text" name="qprice" class="form-control" id="qprice" placeholder="Price">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
        <!-- <a  type="submit" class="btn btn-success" href="#"><span class="glyphicon glyphicon-ok" style="color:white; margin-right:5px;" aria-hidden="true"></span>Submit</a> -->
        <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-arrow-left" style="color:white; margin-right:5px;" aria-hidden="true"></span>Back to List</a>

      </form>
    </div>
</div>

</body>
</html>