body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url("../img/header.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centerscr { 
    position: absolute;
    top: 50%;
    left: 50%;
}

.wrapper {
    text-align: center;
}
.btn-lg.round {
    border-radius: 24px;
}

.btn-xl {
    padding: 1rem 2rem; 
}

      